(edif myCounter
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 2 22 12 4)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XA1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AX1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) ^ C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell myCounter (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port CLK (direction INPUT))
           (port RESET (direction INPUT))
           (port (array (rename q "Q[15:0]") 16) (direction OUTPUT))
         )
         (contents
          (instance CLK_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Q_n8 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_c1 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c2 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c3 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c4 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c5 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c6 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c7 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_32_0 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance Q_c8_m4_0_a2_5 (viewRef prim (cellRef NOR3C (libraryRef smartfusion)))          )
          (instance Q_c8_m4_0_a2_4 (viewRef prim (cellRef NOR3C (libraryRef smartfusion)))          )
          (instance Q_c8_m4_0_a2_2 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_c8_m4_0_a2_0 (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance Q_n2 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n3 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n4 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n5 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n6 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n7 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n9 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance Q_n9_tz (viewRef prim (cellRef AX1C (libraryRef smartfusion)))          )
          (instance Q_n10 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n11 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance Q_n11_tz (viewRef prim (cellRef AX1C (libraryRef smartfusion)))          )
          (instance Q_n12 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n13 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance Q_n13_tz (viewRef prim (cellRef AX1C (libraryRef smartfusion)))          )
          (instance Q_n14 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_c9 (viewRef prim (cellRef NOR3C (libraryRef smartfusion)))          )
          (instance Q_c11 (viewRef prim (cellRef NOR3C (libraryRef smartfusion)))          )
          (instance Q_c13 (viewRef prim (cellRef NOR3C (libraryRef smartfusion)))          )
          (instance Q_33 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance Q_n0 (viewRef prim (cellRef NOR2 (libraryRef smartfusion)))          )
          (instance Q_n1 (viewRef prim (cellRef XA1B (libraryRef smartfusion)))          )
          (instance Q_n15 (viewRef prim (cellRef AX1C (libraryRef smartfusion)))          )
          (instance (rename QZ0Z_0 "Q[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_1 "Q[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_2 "Q[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_3 "Q[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_4 "Q[4]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_5 "Q[5]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_6 "Q[6]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_7 "Q[7]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_8 "Q[8]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_9 "Q[9]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_10 "Q[10]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_11 "Q[11]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_12 "Q[12]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_13 "Q[13]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_14 "Q[14]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename QZ0Z_15 "Q[15]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_15 "Q_pad[15]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_14 "Q_pad[14]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_13 "Q_pad[13]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_12 "Q_pad[12]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_11 "Q_pad[11]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_10 "Q_pad[10]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_9 "Q_pad[9]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_8 "Q_pad[8]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_7 "Q_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_6 "Q_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_5 "Q_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_4 "Q_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_3 "Q_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_2 "Q_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_1 "Q_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Q_pad_0 "Q_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance RESET_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename Q_nZ0Z1 "Q_n1") (joined
           (portRef Y (instanceRef Q_n1))
           (portRef D (instanceRef QZ0Z_1))
          ))
          (net (rename Q_nZ0Z2 "Q_n2") (joined
           (portRef Y (instanceRef Q_n2))
           (portRef D (instanceRef QZ0Z_2))
          ))
          (net (rename Q_nZ0Z3 "Q_n3") (joined
           (portRef Y (instanceRef Q_n3))
           (portRef D (instanceRef QZ0Z_3))
          ))
          (net (rename Q_nZ0Z4 "Q_n4") (joined
           (portRef Y (instanceRef Q_n4))
           (portRef D (instanceRef QZ0Z_4))
          ))
          (net (rename Q_nZ0Z5 "Q_n5") (joined
           (portRef Y (instanceRef Q_n5))
           (portRef D (instanceRef QZ0Z_5))
          ))
          (net (rename Q_nZ0Z6 "Q_n6") (joined
           (portRef Y (instanceRef Q_n6))
           (portRef D (instanceRef QZ0Z_6))
          ))
          (net (rename Q_nZ0Z7 "Q_n7") (joined
           (portRef Y (instanceRef Q_n7))
           (portRef D (instanceRef QZ0Z_7))
          ))
          (net (rename Q_nZ0Z8 "Q_n8") (joined
           (portRef Y (instanceRef Q_n8))
           (portRef D (instanceRef QZ0Z_8))
          ))
          (net (rename Q_nZ0Z9 "Q_n9") (joined
           (portRef Y (instanceRef Q_n9))
           (portRef D (instanceRef QZ0Z_9))
          ))
          (net (rename Q_nZ0Z10 "Q_n10") (joined
           (portRef Y (instanceRef Q_n10))
           (portRef D (instanceRef QZ0Z_10))
          ))
          (net (rename Q_nZ0Z11 "Q_n11") (joined
           (portRef Y (instanceRef Q_n11))
           (portRef D (instanceRef QZ0Z_11))
          ))
          (net (rename Q_nZ0Z12 "Q_n12") (joined
           (portRef Y (instanceRef Q_n12))
           (portRef D (instanceRef QZ0Z_12))
          ))
          (net (rename Q_nZ0Z13 "Q_n13") (joined
           (portRef Y (instanceRef Q_n13))
           (portRef D (instanceRef QZ0Z_13))
          ))
          (net (rename Q_nZ0Z14 "Q_n14") (joined
           (portRef Y (instanceRef Q_n14))
           (portRef D (instanceRef QZ0Z_14))
          ))
          (net (rename Q_nZ0Z15 "Q_n15") (joined
           (portRef Y (instanceRef Q_n15))
           (portRef D (instanceRef QZ0Z_15))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename Q_nZ0Z0 "Q_n0") (joined
           (portRef Y (instanceRef Q_n0))
           (portRef D (instanceRef QZ0Z_0))
          ))
          (net N_65 (joined
           (portRef Y (instanceRef Q_33))
           (portRef C (instanceRef Q_n15))
          ))
          (net (rename Q_cZ0Z13 "Q_c13") (joined
           (portRef Y (instanceRef Q_c13))
           (portRef A (instanceRef Q_n15))
           (portRef B (instanceRef Q_n14))
          ))
          (net (rename Q_cZ0Z11 "Q_c11") (joined
           (portRef Y (instanceRef Q_c11))
           (portRef B (instanceRef Q_c13))
           (portRef B (instanceRef Q_n13_tz))
           (portRef B (instanceRef Q_n12))
          ))
          (net (rename Q_cZ0Z9 "Q_c9") (joined
           (portRef Y (instanceRef Q_c9))
           (portRef B (instanceRef Q_c11))
           (portRef B (instanceRef Q_n11_tz))
           (portRef B (instanceRef Q_n10))
          ))
          (net (rename Q_cZ0Z6 "Q_c6") (joined
           (portRef Y (instanceRef Q_c6))
           (portRef B (instanceRef Q_n7))
           (portRef A (instanceRef Q_c7))
          ))
          (net (rename Q_cZ0Z5 "Q_c5") (joined
           (portRef Y (instanceRef Q_c5))
           (portRef B (instanceRef Q_n6))
           (portRef A (instanceRef Q_c6))
          ))
          (net (rename Q_cZ0Z4 "Q_c4") (joined
           (portRef Y (instanceRef Q_c4))
           (portRef B (instanceRef Q_n5))
           (portRef A (instanceRef Q_c5))
          ))
          (net (rename Q_cZ0Z3 "Q_c3") (joined
           (portRef Y (instanceRef Q_c3))
           (portRef B (instanceRef Q_n4))
           (portRef A (instanceRef Q_c4))
          ))
          (net (rename Q_cZ0Z2 "Q_c2") (joined
           (portRef Y (instanceRef Q_c2))
           (portRef B (instanceRef Q_n3))
           (portRef A (instanceRef Q_c3))
          ))
          (net (rename Q_cZ0Z1 "Q_c1") (joined
           (portRef Y (instanceRef Q_c1))
           (portRef B (instanceRef Q_n2))
           (portRef C (instanceRef Q_c8_m4_0_a2_5))
           (portRef A (instanceRef Q_c2))
          ))
          (net CLK_c (joined
           (portRef Y (instanceRef CLK_pad))
           (portRef CLK (instanceRef QZ0Z_15))
           (portRef CLK (instanceRef QZ0Z_14))
           (portRef CLK (instanceRef QZ0Z_13))
           (portRef CLK (instanceRef QZ0Z_12))
           (portRef CLK (instanceRef QZ0Z_11))
           (portRef CLK (instanceRef QZ0Z_10))
           (portRef CLK (instanceRef QZ0Z_9))
           (portRef CLK (instanceRef QZ0Z_8))
           (portRef CLK (instanceRef QZ0Z_7))
           (portRef CLK (instanceRef QZ0Z_6))
           (portRef CLK (instanceRef QZ0Z_5))
           (portRef CLK (instanceRef QZ0Z_4))
           (portRef CLK (instanceRef QZ0Z_3))
           (portRef CLK (instanceRef QZ0Z_2))
           (portRef CLK (instanceRef QZ0Z_1))
           (portRef CLK (instanceRef QZ0Z_0))
          ))
          (net CLK (joined
           (portRef CLK)
           (portRef PAD (instanceRef CLK_pad))
          ))
          (net RESET_c (joined
           (portRef Y (instanceRef RESET_pad))
           (portRef C (instanceRef Q_n1))
           (portRef B (instanceRef Q_n0))
           (portRef B (instanceRef Q_33))
           (portRef C (instanceRef Q_n14))
           (portRef B (instanceRef Q_n13))
           (portRef C (instanceRef Q_n12))
           (portRef B (instanceRef Q_n11))
           (portRef C (instanceRef Q_n10))
           (portRef B (instanceRef Q_n9))
           (portRef C (instanceRef Q_n7))
           (portRef C (instanceRef Q_n6))
           (portRef C (instanceRef Q_n5))
           (portRef C (instanceRef Q_n4))
           (portRef C (instanceRef Q_n3))
           (portRef C (instanceRef Q_n2))
           (portRef B (instanceRef Q_32_0))
           (portRef C (instanceRef Q_n8))
          ))
          (net RESET (joined
           (portRef RESET)
           (portRef PAD (instanceRef RESET_pad))
          ))
          (net (rename Q_c_0 "Q_c[0]") (joined
           (portRef Q (instanceRef QZ0Z_0))
           (portRef D (instanceRef Q_pad_0))
           (portRef A (instanceRef Q_n1))
           (portRef A (instanceRef Q_n0))
           (portRef A (instanceRef Q_c1))
          ))
          (net (rename Q_0 "Q[0]") (joined
           (portRef PAD (instanceRef Q_pad_0))
           (portRef (member q 15))
          ))
          (net (rename Q_c_1 "Q_c[1]") (joined
           (portRef Q (instanceRef QZ0Z_1))
           (portRef D (instanceRef Q_pad_1))
           (portRef B (instanceRef Q_n1))
           (portRef B (instanceRef Q_c1))
          ))
          (net (rename Q_1 "Q[1]") (joined
           (portRef PAD (instanceRef Q_pad_1))
           (portRef (member q 14))
          ))
          (net (rename Q_c_2 "Q_c[2]") (joined
           (portRef Q (instanceRef QZ0Z_2))
           (portRef D (instanceRef Q_pad_2))
           (portRef A (instanceRef Q_n2))
           (portRef A (instanceRef Q_c8_m4_0_a2_2))
           (portRef B (instanceRef Q_c2))
          ))
          (net (rename Q_2 "Q[2]") (joined
           (portRef PAD (instanceRef Q_pad_2))
           (portRef (member q 13))
          ))
          (net (rename Q_c_3 "Q_c[3]") (joined
           (portRef Q (instanceRef QZ0Z_3))
           (portRef D (instanceRef Q_pad_3))
           (portRef A (instanceRef Q_n3))
           (portRef A (instanceRef Q_c8_m4_0_a2_4))
           (portRef B (instanceRef Q_c3))
          ))
          (net (rename Q_3 "Q[3]") (joined
           (portRef PAD (instanceRef Q_pad_3))
           (portRef (member q 12))
          ))
          (net (rename Q_c_4 "Q_c[4]") (joined
           (portRef Q (instanceRef QZ0Z_4))
           (portRef D (instanceRef Q_pad_4))
           (portRef A (instanceRef Q_n4))
           (portRef B (instanceRef Q_c8_m4_0_a2_4))
           (portRef B (instanceRef Q_c4))
          ))
          (net (rename Q_4 "Q[4]") (joined
           (portRef PAD (instanceRef Q_pad_4))
           (portRef (member q 11))
          ))
          (net (rename Q_c_5 "Q_c[5]") (joined
           (portRef Q (instanceRef QZ0Z_5))
           (portRef D (instanceRef Q_pad_5))
           (portRef A (instanceRef Q_n5))
           (portRef B (instanceRef Q_c8_m4_0_a2_0))
           (portRef B (instanceRef Q_c5))
          ))
          (net (rename Q_5 "Q[5]") (joined
           (portRef PAD (instanceRef Q_pad_5))
           (portRef (member q 10))
          ))
          (net (rename Q_c_6 "Q_c[6]") (joined
           (portRef Q (instanceRef QZ0Z_6))
           (portRef D (instanceRef Q_pad_6))
           (portRef A (instanceRef Q_n6))
           (portRef B (instanceRef Q_c8_m4_0_a2_2))
           (portRef B (instanceRef Q_c6))
          ))
          (net (rename Q_6 "Q[6]") (joined
           (portRef PAD (instanceRef Q_pad_6))
           (portRef (member q 9))
          ))
          (net (rename Q_c_7 "Q_c[7]") (joined
           (portRef Q (instanceRef QZ0Z_7))
           (portRef D (instanceRef Q_pad_7))
           (portRef A (instanceRef Q_n7))
           (portRef B (instanceRef Q_c8_m4_0_a2_5))
           (portRef B (instanceRef Q_c7))
          ))
          (net (rename Q_7 "Q[7]") (joined
           (portRef PAD (instanceRef Q_pad_7))
           (portRef (member q 8))
          ))
          (net (rename Q_c_8 "Q_c[8]") (joined
           (portRef Q (instanceRef QZ0Z_8))
           (portRef D (instanceRef Q_pad_8))
           (portRef A (instanceRef Q_c8_m4_0_a2_0))
           (portRef A (instanceRef Q_n8))
          ))
          (net (rename Q_8 "Q[8]") (joined
           (portRef PAD (instanceRef Q_pad_8))
           (portRef (member q 7))
          ))
          (net (rename Q_c_9 "Q_c[9]") (joined
           (portRef Q (instanceRef QZ0Z_9))
           (portRef D (instanceRef Q_pad_9))
           (portRef C (instanceRef Q_c9))
           (portRef C (instanceRef Q_n9_tz))
          ))
          (net (rename Q_9 "Q[9]") (joined
           (portRef PAD (instanceRef Q_pad_9))
           (portRef (member q 6))
          ))
          (net (rename Q_c_10 "Q_c[10]") (joined
           (portRef Q (instanceRef QZ0Z_10))
           (portRef D (instanceRef Q_pad_10))
           (portRef A (instanceRef Q_c11))
           (portRef A (instanceRef Q_n11_tz))
           (portRef A (instanceRef Q_n10))
          ))
          (net (rename Q_10 "Q[10]") (joined
           (portRef PAD (instanceRef Q_pad_10))
           (portRef (member q 5))
          ))
          (net (rename Q_c_11 "Q_c[11]") (joined
           (portRef Q (instanceRef QZ0Z_11))
           (portRef D (instanceRef Q_pad_11))
           (portRef C (instanceRef Q_c11))
           (portRef C (instanceRef Q_n11_tz))
          ))
          (net (rename Q_11 "Q[11]") (joined
           (portRef PAD (instanceRef Q_pad_11))
           (portRef (member q 4))
          ))
          (net (rename Q_c_12 "Q_c[12]") (joined
           (portRef Q (instanceRef QZ0Z_12))
           (portRef D (instanceRef Q_pad_12))
           (portRef A (instanceRef Q_c13))
           (portRef A (instanceRef Q_n13_tz))
           (portRef A (instanceRef Q_n12))
          ))
          (net (rename Q_12 "Q[12]") (joined
           (portRef PAD (instanceRef Q_pad_12))
           (portRef (member q 3))
          ))
          (net (rename Q_c_13 "Q_c[13]") (joined
           (portRef Q (instanceRef QZ0Z_13))
           (portRef D (instanceRef Q_pad_13))
           (portRef C (instanceRef Q_c13))
           (portRef C (instanceRef Q_n13_tz))
          ))
          (net (rename Q_13 "Q[13]") (joined
           (portRef PAD (instanceRef Q_pad_13))
           (portRef (member q 2))
          ))
          (net (rename Q_c_14 "Q_c[14]") (joined
           (portRef Q (instanceRef QZ0Z_14))
           (portRef D (instanceRef Q_pad_14))
           (portRef A (instanceRef Q_n14))
           (portRef A (instanceRef Q_32_0))
          ))
          (net (rename Q_14 "Q[14]") (joined
           (portRef PAD (instanceRef Q_pad_14))
           (portRef (member q 1))
          ))
          (net (rename Q_c_15 "Q_c[15]") (joined
           (portRef Q (instanceRef QZ0Z_15))
           (portRef D (instanceRef Q_pad_15))
           (portRef A (instanceRef Q_33))
          ))
          (net (rename Q_15 "Q[15]") (joined
           (portRef PAD (instanceRef Q_pad_15))
           (portRef (member q 0))
          ))
          (net (rename Q_n13_tzZ0 "Q_n13_tz") (joined
           (portRef Y (instanceRef Q_n13_tz))
           (portRef A (instanceRef Q_n13))
          ))
          (net (rename Q_n11_tzZ0 "Q_n11_tz") (joined
           (portRef Y (instanceRef Q_n11_tz))
           (portRef A (instanceRef Q_n11))
          ))
          (net (rename Q_n9_tzZ0 "Q_n9_tz") (joined
           (portRef Y (instanceRef Q_n9_tz))
           (portRef A (instanceRef Q_n9))
          ))
          (net (rename Q_c8_m4_0_a2Z0Z_0 "Q_c8_m4_0_a2_0") (joined
           (portRef Y (instanceRef Q_c8_m4_0_a2_0))
           (portRef A (instanceRef Q_c8_m4_0_a2_5))
          ))
          (net (rename Q_c8_m4_0_a2Z0Z_2 "Q_c8_m4_0_a2_2") (joined
           (portRef Y (instanceRef Q_c8_m4_0_a2_2))
           (portRef C (instanceRef Q_c8_m4_0_a2_4))
          ))
          (net (rename Q_c8_m4_0_a2Z0Z_4 "Q_c8_m4_0_a2_4") (joined
           (portRef Y (instanceRef Q_c8_m4_0_a2_4))
           (portRef A (instanceRef Q_c9))
           (portRef A (instanceRef Q_n9_tz))
          ))
          (net (rename Q_c8_m4_0_a2Z0Z_5 "Q_c8_m4_0_a2_5") (joined
           (portRef Y (instanceRef Q_c8_m4_0_a2_5))
           (portRef B (instanceRef Q_c9))
           (portRef B (instanceRef Q_n9_tz))
          ))
          (net (rename Q_32Z0Z_0 "Q_32_0") (joined
           (portRef Y (instanceRef Q_32_0))
           (portRef B (instanceRef Q_n15))
          ))
          (net (rename Q_cZ0Z7 "Q_c7") (joined
           (portRef Y (instanceRef Q_c7))
           (portRef B (instanceRef Q_n8))
          ))
         )
        (property orig_inst_of (string "myCounter"))
       )
    )
  )
  (design myCounter (cellRef myCounter (libraryRef work)))
)
