(edif skewedClock
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 2 23 38 51)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell skewedClock (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port CLK (direction INPUT))
           (port PRE (direction INPUT))
           (port sQ0 (direction OUTPUT))
           (port sQ1 (direction OUTPUT))
           (port sQ2 (direction OUTPUT))
           (port sQ3 (direction OUTPUT))
         )
         (contents
          (instance sQ3_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance sQ2_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance sQ1_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance sQ0_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance PRE_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance CLK_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance INV_3 (viewRef prim (cellRef INV (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance INV_2 (viewRef prim (cellRef INV (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance INV_1 (viewRef prim (cellRef INV (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance INV_0 (viewRef prim (cellRef INV (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1P0_3 (viewRef prim (cellRef DFN1P0 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1P0_2 (viewRef prim (cellRef DFN1P0 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1P0_1 (viewRef prim (cellRef DFN1P0 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1P0_0 (viewRef prim (cellRef DFN1P0 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net INV_0_Y (joined
           (portRef Y (instanceRef INV_0))
           (portRef D (instanceRef DFN1P0_0))
          ))
          (net INV_1_Y (joined
           (portRef Y (instanceRef INV_1))
           (portRef D (instanceRef DFN1P0_1))
          ))
          (net INV_3_Y (joined
           (portRef Y (instanceRef INV_3))
           (portRef D (instanceRef DFN1P0_2))
          ))
          (net INV_2_Y (joined
           (portRef Y (instanceRef INV_2))
           (portRef D (instanceRef DFN1P0_3))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net CLK_c (joined
           (portRef Y (instanceRef CLK_pad))
           (portRef CLK (instanceRef DFN1P0_0))
          ))
          (net CLK (joined
           (portRef CLK)
           (portRef PAD (instanceRef CLK_pad))
          ))
          (net PRE_c (joined
           (portRef Y (instanceRef PRE_pad))
           (portRef PRE (instanceRef DFN1P0_0))
           (portRef PRE (instanceRef DFN1P0_1))
           (portRef PRE (instanceRef DFN1P0_2))
           (portRef PRE (instanceRef DFN1P0_3))
          ))
          (net PRE (joined
           (portRef PRE)
           (portRef PAD (instanceRef PRE_pad))
          ))
          (net (rename sQZ0Z0 "sQ0") (joined
           (portRef CLK (instanceRef DFN1P0_1))
           (portRef A (instanceRef INV_0))
           (portRef D (instanceRef sQ0_pad))
           (portRef Q (instanceRef DFN1P0_0))
          ))
          (net (rename sQ0 "sQ0_c") (joined
           (portRef PAD (instanceRef sQ0_pad))
           (portRef sQ0)
          ))
          (net (rename sQZ0Z1 "sQ1") (joined
           (portRef CLK (instanceRef DFN1P0_2))
           (portRef A (instanceRef INV_1))
           (portRef D (instanceRef sQ1_pad))
           (portRef Q (instanceRef DFN1P0_1))
          ))
          (net (rename sQ1 "sQ1_c") (joined
           (portRef PAD (instanceRef sQ1_pad))
           (portRef sQ1)
          ))
          (net (rename sQZ0Z2 "sQ2") (joined
           (portRef CLK (instanceRef DFN1P0_3))
           (portRef A (instanceRef INV_3))
           (portRef D (instanceRef sQ2_pad))
           (portRef Q (instanceRef DFN1P0_2))
          ))
          (net (rename sQ2 "sQ2_c") (joined
           (portRef PAD (instanceRef sQ2_pad))
           (portRef sQ2)
          ))
          (net sQ3_c (joined
           (portRef Q (instanceRef DFN1P0_3))
           (portRef A (instanceRef INV_2))
           (portRef D (instanceRef sQ3_pad))
          ))
          (net sQ3 (joined
           (portRef PAD (instanceRef sQ3_pad))
           (portRef sQ3)
          ))
         )
        (property orig_inst_of (string "skewedClock"))
       )
    )
  )
  (design skewedClock (cellRef skewedClock (libraryRef work)))
)
