(edif sync_write
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 30 12 56 45)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell sync_write (cellType GENERIC)
       (view sync_write_arch (viewType NETLIST)
         (interface
           (port wrptr (direction INPUT))
           (port rst (direction INPUT))
           (port clk (direction INPUT))
           (port wrptrq (direction OUTPUT))
         )
         (contents
          (instance clk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance wrptrd1_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance wrptrd2_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename wrptrqZ0 "wrptrq") (viewRef prim (cellRef DFN1E0 (libraryRef smartfusion)))
          )
          (instance wrptrd2 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance wrptrd1 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance wrptrq_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance rst_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance wrptr_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename wrptrdZ0Z1 "wrptrd1") (joined
           (portRef Q (instanceRef wrptrd1))
           (portRef A (instanceRef wrptrd2_RNO))
          ))
          (net (rename wrptrdZ0Z2 "wrptrd2") (joined
           (portRef Q (instanceRef wrptrd2))
           (portRef D (instanceRef wrptrqZ0))
          ))
          (net (rename wrptrd2_RNOZ0 "wrptrd2_RNO") (joined
           (portRef Y (instanceRef wrptrd2_RNO))
           (portRef D (instanceRef wrptrd2))
          ))
          (net (rename wrptrd1_RNOZ0 "wrptrd1_RNO") (joined
           (portRef Y (instanceRef wrptrd1_RNO))
           (portRef D (instanceRef wrptrd1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net wrptr_c (joined
           (portRef Y (instanceRef wrptr_pad))
           (portRef A (instanceRef wrptrd1_RNO))
          ))
          (net wrptr (joined
           (portRef wrptr)
           (portRef PAD (instanceRef wrptr_pad))
          ))
          (net rst_c (joined
           (portRef Y (instanceRef rst_pad))
           (portRef E (instanceRef wrptrqZ0))
           (portRef B (instanceRef wrptrd2_RNO))
           (portRef B (instanceRef wrptrd1_RNO))
          ))
          (net rst (joined
           (portRef rst)
           (portRef PAD (instanceRef rst_pad))
          ))
          (net clk_c (joined
           (portRef Y (instanceRef clk_pad))
           (portRef CLK (instanceRef wrptrd1))
           (portRef CLK (instanceRef wrptrd2))
           (portRef CLK (instanceRef wrptrqZ0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net wrptrq_c (joined
           (portRef Q (instanceRef wrptrqZ0))
           (portRef D (instanceRef wrptrq_pad))
          ))
          (net wrptrq (joined
           (portRef PAD (instanceRef wrptrq_pad))
           (portRef wrptrq)
          ))
         )
        (property orig_inst_of (string "sync_write"))
       )
    )
  )
  (design sync_write (cellRef sync_write (libraryRef work)))
)
