(edif CDC3FF_MSS
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 10 18 0 40)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell MSS_CCC (cellType GENERIC)
      (property dont_touch (string "true"))
      (property dont_use (integer 1))
       (view prim (viewType NETLIST)
         (interface
           (port GLA (direction OUTPUT))
           (port GLAMSS (direction OUTPUT))
           (port GLB (direction OUTPUT))
           (port GLC (direction OUTPUT))
           (port LOCK (direction OUTPUT))
           (port LOCKMSS (direction OUTPUT))
           (port MACCLK (direction OUTPUT))
           (port YB (direction OUTPUT))
           (port YC (direction OUTPUT))
           (port BYPASSA (direction INPUT))
           (port BYPASSB (direction INPUT))
           (port BYPASSC (direction INPUT))
           (port CLKA (direction INPUT))
           (port CLKB (direction INPUT))
           (port CLKC (direction INPUT))
           (port (array (rename dlygla "DLYGLA[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglafab "DLYGLAFAB[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglamss "DLYGLAMSS[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglb "DLYGLB[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglc "DLYGLC[4:0]") 5) (direction INPUT))
           (port EXTFB (direction INPUT))
           (port (array (rename fbdiv "FBDIV[6:0]") 7) (direction INPUT))
           (port (array (rename fbdly "FBDLY[4:0]") 5) (direction INPUT))
           (port (array (rename fbsel "FBSEL[1:0]") 2) (direction INPUT))
           (port (array (rename findiv "FINDIV[6:0]") 7) (direction INPUT))
           (port (array (rename glmuxcfg "GLMUXCFG[1:0]") 2) (direction INPUT))
           (port (array (rename glmuxsel "GLMUXSEL[1:0]") 2) (direction INPUT))
           (port (array (rename oadiv "OADIV[4:0]") 5) (direction INPUT))
           (port OADIVHALF (direction INPUT))
           (port (array (rename oamux "OAMUX[2:0]") 3) (direction INPUT))
           (port (array (rename obdiv "OBDIV[4:0]") 5) (direction INPUT))
           (port OBDIVHALF (direction INPUT))
           (port (array (rename obmux "OBMUX[2:0]") 3) (direction INPUT))
           (port (array (rename ocdiv "OCDIV[4:0]") 5) (direction INPUT))
           (port OCDIVHALF (direction INPUT))
           (port (array (rename ocmux "OCMUX[2:0]") 3) (direction INPUT))
           (port XDLYSEL (direction INPUT))
         )
       )
    )
    (cell RCOSC (cellType GENERIC)
      (property dont_touch (string "true"))
      (property dont_use (integer 1))
       (view prim (viewType NETLIST)
         (interface
           (port CLKOUT (direction OUTPUT))
         )
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell clk_source_MSS_tmp_MSS_CCC_0_MSS_CCC (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port clk_source_MSS_0_GLB (direction OUTPUT))
           (port FAB_CLK (direction OUTPUT))
         )
         (contents
          (instance I_RCOSC (viewRef prim (cellRef RCOSC (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance I_MSSCCC (viewRef prim (cellRef MSS_CCC (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
           (property VCOFREQUENCY (string "110.811"))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net FAB_CLK (joined
           (portRef FAB_CLK)
           (portRef GLA (instanceRef I_MSSCCC))
          ))
          (net N_CLKA_RCOSC (joined
           (portRef CLKOUT (instanceRef I_RCOSC))
           (portRef CLKA (instanceRef I_MSSCCC))
          ))
          (net GLA0_i (joined
           (portRef GLAMSS (instanceRef I_MSSCCC))
          ))
          (net clk_source_MSS_0_GLB (joined
           (portRef GLB (instanceRef I_MSSCCC))
           (portRef clk_source_MSS_0_GLB)
          ))
          (net I_MSSCCC_GLC (joined
           (portRef GLC (instanceRef I_MSSCCC))
          ))
          (net FAB_LOCK (joined
           (portRef LOCK (instanceRef I_MSSCCC))
          ))
          (net MSS_LOCK (joined
           (portRef LOCKMSS (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_MACCLK (joined
           (portRef MACCLK (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_YB (joined
           (portRef YB (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_YC (joined
           (portRef YC (instanceRef I_MSSCCC))
          ))
          (net clk_source_MSS_tmp_MSS_CCC_0_MSS_CCC_GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef XDLYSEL (instanceRef I_MSSCCC))
           (portRef (member ocmux 0) (instanceRef I_MSSCCC))
           (portRef (member ocmux 1) (instanceRef I_MSSCCC))
           (portRef (member ocmux 2) (instanceRef I_MSSCCC))
           (portRef OCDIVHALF (instanceRef I_MSSCCC))
           (portRef (member ocdiv 0) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 1) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 2) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 3) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 4) (instanceRef I_MSSCCC))
           (portRef (member obmux 1) (instanceRef I_MSSCCC))
           (portRef (member obmux 2) (instanceRef I_MSSCCC))
           (portRef OBDIVHALF (instanceRef I_MSSCCC))
           (portRef (member obdiv 0) (instanceRef I_MSSCCC))
           (portRef (member obdiv 1) (instanceRef I_MSSCCC))
           (portRef (member obdiv 2) (instanceRef I_MSSCCC))
           (portRef (member oamux 0) (instanceRef I_MSSCCC))
           (portRef (member oamux 1) (instanceRef I_MSSCCC))
           (portRef OADIVHALF (instanceRef I_MSSCCC))
           (portRef (member oadiv 0) (instanceRef I_MSSCCC))
           (portRef (member oadiv 1) (instanceRef I_MSSCCC))
           (portRef (member oadiv 2) (instanceRef I_MSSCCC))
           (portRef (member oadiv 3) (instanceRef I_MSSCCC))
           (portRef (member glmuxsel 0) (instanceRef I_MSSCCC))
           (portRef (member glmuxsel 1) (instanceRef I_MSSCCC))
           (portRef (member glmuxcfg 0) (instanceRef I_MSSCCC))
           (portRef (member glmuxcfg 1) (instanceRef I_MSSCCC))
           (portRef (member findiv 0) (instanceRef I_MSSCCC))
           (portRef (member findiv 2) (instanceRef I_MSSCCC))
           (portRef (member findiv 3) (instanceRef I_MSSCCC))
           (portRef (member findiv 5) (instanceRef I_MSSCCC))
           (portRef (member findiv 6) (instanceRef I_MSSCCC))
           (portRef (member fbsel 0) (instanceRef I_MSSCCC))
           (portRef (member fbdly 0) (instanceRef I_MSSCCC))
           (portRef (member fbdly 1) (instanceRef I_MSSCCC))
           (portRef (member fbdly 2) (instanceRef I_MSSCCC))
           (portRef (member fbdly 3) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 0) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 2) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 4) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 5) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 6) (instanceRef I_MSSCCC))
           (portRef EXTFB (instanceRef I_MSSCCC))
           (portRef (member dlyglc 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 4) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 4) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 4) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 4) (instanceRef I_MSSCCC))
           (portRef (member dlygla 0) (instanceRef I_MSSCCC))
           (portRef (member dlygla 1) (instanceRef I_MSSCCC))
           (portRef (member dlygla 2) (instanceRef I_MSSCCC))
           (portRef (member dlygla 3) (instanceRef I_MSSCCC))
           (portRef (member dlygla 4) (instanceRef I_MSSCCC))
           (portRef CLKC (instanceRef I_MSSCCC))
           (portRef CLKB (instanceRef I_MSSCCC))
           (portRef BYPASSB (instanceRef I_MSSCCC))
           (portRef BYPASSA (instanceRef I_MSSCCC))
          ))
          (net clk_source_MSS_tmp_MSS_CCC_0_MSS_CCC_VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef (member obmux 0) (instanceRef I_MSSCCC))
           (portRef (member obdiv 3) (instanceRef I_MSSCCC))
           (portRef (member obdiv 4) (instanceRef I_MSSCCC))
           (portRef (member oamux 2) (instanceRef I_MSSCCC))
           (portRef (member oadiv 4) (instanceRef I_MSSCCC))
           (portRef (member findiv 1) (instanceRef I_MSSCCC))
           (portRef (member findiv 4) (instanceRef I_MSSCCC))
           (portRef (member fbsel 1) (instanceRef I_MSSCCC))
           (portRef (member fbdly 4) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 1) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 3) (instanceRef I_MSSCCC))
           (portRef BYPASSC (instanceRef I_MSSCCC))
          ))
         )
        (property orig_inst_of (string "clk_source_MSS_tmp_MSS_CCC_0_MSS_CCC"))
       )
    )
    (cell clk_source_MSS (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port FAB_CLK (direction OUTPUT))
           (port clk_source_MSS_0_GLB (direction OUTPUT))
         )
         (contents
          (instance MSS_CCC_0 (viewRef netlist (cellRef clk_source_MSS_tmp_MSS_CCC_0_MSS_CCC))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net clk_source_MSS_0_GLB (joined
           (portRef clk_source_MSS_0_GLB (instanceRef MSS_CCC_0))
           (portRef clk_source_MSS_0_GLB)
          ))
          (net FAB_CLK (joined
           (portRef FAB_CLK (instanceRef MSS_CCC_0))
           (portRef FAB_CLK)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "clk_source_MSS"))
       )
    )
    (cell CDC3FF (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port clk_source_MSS_0_GLB (direction INPUT))
           (port reset_c (direction INPUT))
           (port FAB_CLK (direction INPUT))
           (port Dout_c (direction OUTPUT))
         )
         (contents
          (instance u3 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance u2 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance u1 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net Dout_c (joined
           (portRef Q (instanceRef u3))
           (portRef Dout_c)
          ))
          (net FAB_CLK (joined
           (portRef FAB_CLK)
           (portRef CLK (instanceRef u1))
           (portRef CLK (instanceRef u2))
           (portRef CLK (instanceRef u3))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef CLR (instanceRef u1))
           (portRef CLR (instanceRef u2))
           (portRef CLR (instanceRef u3))
          ))
          (net S2 (joined
           (portRef Q (instanceRef u2))
           (portRef D (instanceRef u3))
          ))
          (net S1 (joined
           (portRef Q (instanceRef u1))
           (portRef D (instanceRef u2))
          ))
          (net clk_source_MSS_0_GLB (joined
           (portRef clk_source_MSS_0_GLB)
           (portRef D (instanceRef u1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "CDC3FF"))
       )
    )
    (cell CDC3FF_MSS (cellType GENERIC)
       (view rtl (viewType NETLIST)
         (interface
           (port reset (direction INPUT))
           (port Dout (direction OUTPUT))
         )
         (contents
          (instance Dout_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance reset_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance CDC3FF_0 (viewRef netlist (cellRef CDC3FF))
          )
          (instance clk_source_MSS_0 (viewRef netlist (cellRef clk_source_MSS))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net FAB_CLK (joined
           (portRef FAB_CLK (instanceRef clk_source_MSS_0))
           (portRef FAB_CLK (instanceRef CDC3FF_0))
          ))
          (net clk_source_MSS_0_GLB (joined
           (portRef clk_source_MSS_0_GLB (instanceRef clk_source_MSS_0))
           (portRef clk_source_MSS_0_GLB (instanceRef CDC3FF_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net reset_c (joined
           (portRef Y (instanceRef reset_pad))
           (portRef reset_c (instanceRef CDC3FF_0))
          ))
          (net reset (joined
           (portRef reset)
           (portRef PAD (instanceRef reset_pad))
          ))
          (net Dout_c (joined
           (portRef Dout_c (instanceRef CDC3FF_0))
           (portRef D (instanceRef Dout_pad))
          ))
          (net Dout (joined
           (portRef PAD (instanceRef Dout_pad))
           (portRef Dout)
          ))
         )
        (property orig_inst_of (string "CDC3FF_MSS"))
       )
    )
  )
  (design CDC3FF_MSS (cellRef CDC3FF_MSS (libraryRef work)))
)
