(edif CD3FF
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 19 22 21 26)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell Synchronizer (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port sync (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port Bclk_c (direction INPUT))
         )
         (contents
          (instance S1_0 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance S2_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance sync_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename syncZ0 "sync") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance S2 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance S1 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename S1Z0Z_0 "S1_0") (joined
           (portRef Y (instanceRef S1_0))
           (portRef D (instanceRef S1))
          ))
          (net Bclk_c (joined
           (portRef Bclk_c)
           (portRef A (instanceRef S1_0))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef sync_RNO))
           (portRef B (instanceRef S2_RNO))
           (portRef B (instanceRef S1_0))
          ))
          (net (rename S2_RNOZ0 "S2_RNO") (joined
           (portRef Y (instanceRef S2_RNO))
           (portRef D (instanceRef S2))
          ))
          (net (rename SZ0Z1 "S1") (joined
           (portRef Q (instanceRef S1))
           (portRef A (instanceRef S2_RNO))
          ))
          (net (rename sync_RNOZ0 "sync_RNO") (joined
           (portRef Y (instanceRef sync_RNO))
           (portRef D (instanceRef syncZ0))
          ))
          (net (rename SZ0Z2 "S2") (joined
           (portRef Q (instanceRef S2))
           (portRef A (instanceRef sync_RNO))
          ))
          (net sync (joined
           (portRef Q (instanceRef syncZ0))
           (portRef sync)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef S1))
           (portRef CLK (instanceRef S2))
           (portRef CLK (instanceRef syncZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "Synchronizer"))
       )
    )
    (cell CD3FF (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclk (direction INPUT))
           (port Bclk (direction INPUT))
           (port reset (direction INPUT))
           (port Dout (direction OUTPUT))
         )
         (contents
          (instance Bclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Aclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Dout_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance dataA_RNO (viewRef prim (cellRef NOR2 (libraryRef smartfusion)))          )
          (instance dataLocked (viewRef prim (cellRef DFN1E1 (libraryRef smartfusion)))
          )
          (instance dataA (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename DoutZ0 "Dout") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance Dout_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance reset_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance synchronizer (viewRef netlist (cellRef Synchronizer))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net sync (joined
           (portRef sync (instanceRef synchronizer))
           (portRef E (instanceRef dataLocked))
          ))
          (net (rename dataAZ0 "dataA") (joined
           (portRef Q (instanceRef dataA))
           (portRef D (instanceRef dataLocked))
           (portRef B (instanceRef dataA_RNO))
          ))
          (net (rename dataLockedZ0 "dataLocked") (joined
           (portRef Q (instanceRef dataLocked))
           (portRef A (instanceRef Dout_RNO))
          ))
          (net (rename dataA_RNOZ0 "dataA_RNO") (joined
           (portRef Y (instanceRef dataA_RNO))
           (portRef D (instanceRef dataA))
          ))
          (net (rename Dout_RNOZ0 "Dout_RNO") (joined
           (portRef Y (instanceRef Dout_RNO))
           (portRef D (instanceRef DoutZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Aclk_c (joined
           (portRef Y (instanceRef Aclk_pad))
           (portRef Aclk_c (instanceRef synchronizer))
           (portRef CLK (instanceRef dataA))
           (portRef CLK (instanceRef dataLocked))
          ))
          (net Aclk (joined
           (portRef Aclk)
           (portRef PAD (instanceRef Aclk_pad))
          ))
          (net Bclk_c (joined
           (portRef Y (instanceRef Bclk_pad))
           (portRef Bclk_c (instanceRef synchronizer))
           (portRef CLK (instanceRef DoutZ0))
          ))
          (net Bclk (joined
           (portRef Bclk)
           (portRef PAD (instanceRef Bclk_pad))
          ))
          (net reset_c (joined
           (portRef Y (instanceRef reset_pad))
           (portRef reset_c (instanceRef synchronizer))
           (portRef A (instanceRef dataA_RNO))
           (portRef B (instanceRef Dout_RNO))
          ))
          (net reset (joined
           (portRef reset)
           (portRef PAD (instanceRef reset_pad))
          ))
          (net Dout_c (joined
           (portRef Q (instanceRef DoutZ0))
           (portRef D (instanceRef Dout_pad))
          ))
          (net Dout (joined
           (portRef PAD (instanceRef Dout_pad))
           (portRef Dout)
          ))
         )
        (property orig_inst_of (string "CD3FF"))
       )
    )
  )
  (design CD3FF (cellRef CD3FF (libraryRef work)))
)
