(edif PartA
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 17 18 38 13)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell CDC3FF (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Bclk_c (direction INPUT))
           (port CLR_c (direction INPUT))
           (port Aclk_c (direction INPUT))
           (port CDC3FF_0_Dout (direction OUTPUT))
         )
         (contents
          (instance u3 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance u2 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance u1 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net CDC3FF_0_Dout (joined
           (portRef Q (instanceRef u3))
           (portRef CDC3FF_0_Dout)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef u1))
           (portRef CLK (instanceRef u2))
           (portRef CLK (instanceRef u3))
          ))
          (net CLR_c (joined
           (portRef CLR_c)
           (portRef CLR (instanceRef u1))
           (portRef CLR (instanceRef u2))
           (portRef CLR (instanceRef u3))
          ))
          (net S2 (joined
           (portRef Q (instanceRef u2))
           (portRef D (instanceRef u3))
          ))
          (net S1 (joined
           (portRef Q (instanceRef u1))
           (portRef D (instanceRef u2))
          ))
          (net Bclk_c (joined
           (portRef Bclk_c)
           (portRef D (instanceRef u1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "CDC3FF"))
       )
    )
    (cell PartA (cellType GENERIC)
       (view rtl (viewType NETLIST)
         (interface
           (port Aclk (direction INPUT))
           (port Bclk (direction INPUT))
           (port CLR (direction INPUT))
           (port Dout (direction OUTPUT))
         )
         (contents
          (instance Bclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Aclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Dout_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance CLR_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance MX2_0 (viewRef prim (cellRef MX2 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance INV_0 (viewRef prim (cellRef INV (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C1_2 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C1_1 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C1_0 (viewRef prim (cellRef DFN1C1 (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance CDC3FF_0 (viewRef netlist (cellRef CDC3FF))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net CDC3FF_0_Dout (joined
           (portRef CDC3FF_0_Dout (instanceRef CDC3FF_0))
           (portRef S (instanceRef MX2_0))
          ))
          (net INV_0_Y (joined
           (portRef Y (instanceRef INV_0))
           (portRef D (instanceRef DFN1C1_0))
          ))
          (net DFN1C1_0_Q (joined
           (portRef Q (instanceRef DFN1C1_0))
           (portRef A (instanceRef INV_0))
           (portRef B (instanceRef MX2_0))
          ))
          (net MX2_0_Y (joined
           (portRef Y (instanceRef MX2_0))
           (portRef D (instanceRef DFN1C1_1))
          ))
          (net DFN1C1_1_Q (joined
           (portRef Q (instanceRef DFN1C1_1))
           (portRef D (instanceRef DFN1C1_2))
           (portRef A (instanceRef MX2_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Aclk_c (joined
           (portRef Y (instanceRef Aclk_pad))
           (portRef Aclk_c (instanceRef CDC3FF_0))
           (portRef CLK (instanceRef DFN1C1_0))
           (portRef CLK (instanceRef DFN1C1_1))
          ))
          (net Aclk (joined
           (portRef Aclk)
           (portRef PAD (instanceRef Aclk_pad))
          ))
          (net Bclk_c (joined
           (portRef Y (instanceRef Bclk_pad))
           (portRef Bclk_c (instanceRef CDC3FF_0))
           (portRef CLK (instanceRef DFN1C1_2))
          ))
          (net Bclk (joined
           (portRef Bclk)
           (portRef PAD (instanceRef Bclk_pad))
          ))
          (net CLR_c (joined
           (portRef Y (instanceRef CLR_pad))
           (portRef CLR_c (instanceRef CDC3FF_0))
           (portRef CLR (instanceRef DFN1C1_0))
           (portRef CLR (instanceRef DFN1C1_1))
           (portRef CLR (instanceRef DFN1C1_2))
          ))
          (net CLR (joined
           (portRef CLR)
           (portRef PAD (instanceRef CLR_pad))
          ))
          (net Dout_c (joined
           (portRef Q (instanceRef DFN1C1_2))
           (portRef D (instanceRef Dout_pad))
          ))
          (net Dout (joined
           (portRef PAD (instanceRef Dout_pad))
           (portRef Dout)
          ))
         )
        (property orig_inst_of (string "PartA"))
       )
    )
  )
  (design PartA (cellRef PartA (libraryRef work)))
)
