(edif ShiftRegister
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 20 21 32 55)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell ShiftRegister (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port data_in (direction INPUT))
           (port clk (direction INPUT))
           (port (array (rename data_out "data_out[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance clk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_0 "data_out[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_1 "data_out[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_2 "data_out[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_3 "data_out[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_3 "data_out_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_2 "data_out_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_1 "data_out_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_0 "data_out_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance data_in_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net data_in_c (joined
           (portRef Y (instanceRef data_in_pad))
           (portRef D (instanceRef data_outZ0Z_0))
          ))
          (net data_in (joined
           (portRef data_in)
           (portRef PAD (instanceRef data_in_pad))
          ))
          (net clk_c (joined
           (portRef Y (instanceRef clk_pad))
           (portRef CLK (instanceRef data_outZ0Z_3))
           (portRef CLK (instanceRef data_outZ0Z_2))
           (portRef CLK (instanceRef data_outZ0Z_1))
           (portRef CLK (instanceRef data_outZ0Z_0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net (rename data_out_c_0 "data_out_c[0]") (joined
           (portRef Q (instanceRef data_outZ0Z_0))
           (portRef D (instanceRef data_out_pad_0))
           (portRef D (instanceRef data_outZ0Z_1))
          ))
          (net (rename data_out_0 "data_out[0]") (joined
           (portRef PAD (instanceRef data_out_pad_0))
           (portRef (member data_out 3))
          ))
          (net (rename data_out_c_1 "data_out_c[1]") (joined
           (portRef Q (instanceRef data_outZ0Z_1))
           (portRef D (instanceRef data_out_pad_1))
           (portRef D (instanceRef data_outZ0Z_2))
          ))
          (net (rename data_out_1 "data_out[1]") (joined
           (portRef PAD (instanceRef data_out_pad_1))
           (portRef (member data_out 2))
          ))
          (net (rename data_out_c_2 "data_out_c[2]") (joined
           (portRef Q (instanceRef data_outZ0Z_2))
           (portRef D (instanceRef data_out_pad_2))
           (portRef D (instanceRef data_outZ0Z_3))
          ))
          (net (rename data_out_2 "data_out[2]") (joined
           (portRef PAD (instanceRef data_out_pad_2))
           (portRef (member data_out 1))
          ))
          (net (rename data_out_c_3 "data_out_c[3]") (joined
           (portRef Q (instanceRef data_outZ0Z_3))
           (portRef D (instanceRef data_out_pad_3))
          ))
          (net (rename data_out_3 "data_out[3]") (joined
           (portRef PAD (instanceRef data_out_pad_3))
           (portRef (member data_out 0))
          ))
         )
        (property orig_inst_of (string "ShiftRegister"))
       )
    )
  )
  (design ShiftRegister (cellRef ShiftRegister (libraryRef work)))
)
