(edif SlowFast
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 11 20 21 23 35)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell Synchronizer (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port sync (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port Bclk_c (direction INPUT))
         )
         (contents
          (instance S1_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance S2_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance sync_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename syncZ0 "sync") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance S2 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance S1 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename S1_RNOZ0 "S1_RNO") (joined
           (portRef Y (instanceRef S1_RNO))
           (portRef D (instanceRef S1))
          ))
          (net Bclk_c (joined
           (portRef Bclk_c)
           (portRef A (instanceRef S1_RNO))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef sync_RNO))
           (portRef B (instanceRef S2_RNO))
           (portRef B (instanceRef S1_RNO))
          ))
          (net (rename S2_RNOZ0 "S2_RNO") (joined
           (portRef Y (instanceRef S2_RNO))
           (portRef D (instanceRef S2))
          ))
          (net (rename SZ0Z1 "S1") (joined
           (portRef Q (instanceRef S1))
           (portRef A (instanceRef S2_RNO))
          ))
          (net (rename sync_RNOZ0 "sync_RNO") (joined
           (portRef Y (instanceRef sync_RNO))
           (portRef D (instanceRef syncZ0))
          ))
          (net (rename SZ0Z2 "S2") (joined
           (portRef Q (instanceRef S2))
           (portRef A (instanceRef sync_RNO))
          ))
          (net sync (joined
           (portRef Q (instanceRef syncZ0))
           (portRef sync)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef S1))
           (portRef CLK (instanceRef S2))
           (portRef CLK (instanceRef syncZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "Synchronizer"))
       )
    )
    (cell ShiftRegister (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename dataa "dataA[3:0]") 4) (direction OUTPUT))
           (port shift_in (direction INPUT))
           (port Aclk_c (direction INPUT))
         )
         (contents
          (instance (rename data_out_0 "data_out[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_out_1 "data_out[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_out_2 "data_out[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename data_out_3 "data_out[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename dataA_0 "dataA[0]") (joined
           (portRef Q (instanceRef data_out_0))
           (portRef D (instanceRef data_out_1))
           (portRef (member dataa 3))
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef data_out_3))
           (portRef CLK (instanceRef data_out_2))
           (portRef CLK (instanceRef data_out_1))
           (portRef CLK (instanceRef data_out_0))
          ))
          (net shift_in (joined
           (portRef shift_in)
           (portRef D (instanceRef data_out_0))
          ))
          (net (rename dataA_1 "dataA[1]") (joined
           (portRef Q (instanceRef data_out_1))
           (portRef D (instanceRef data_out_2))
           (portRef (member dataa 2))
          ))
          (net (rename dataA_2 "dataA[2]") (joined
           (portRef Q (instanceRef data_out_2))
           (portRef D (instanceRef data_out_3))
           (portRef (member dataa 1))
          ))
          (net (rename dataA_3 "dataA[3]") (joined
           (portRef Q (instanceRef data_out_3))
           (portRef (member dataa 0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "ShiftRegister"))
       )
    )
    (cell SlowFast (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclk (direction INPUT))
           (port Bclk (direction INPUT))
           (port reset (direction INPUT))
           (port (array (rename dout "Dout[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance Bclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Aclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance (rename dataLocked_0_3 "dataLocked_0[3]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename dataLocked_0_2 "dataLocked_0[2]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename dataLocked_0_1 "dataLocked_0[1]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename dataLocked_0_0 "dataLocked_0[0]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename Dout_RNO_3 "Dout_RNO[3]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename Dout_RNO_2 "Dout_RNO[2]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename Dout_RNO_1 "Dout_RNO[1]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename Dout_RNO_0 "Dout_RNO[0]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename dataLocked_1_3 "dataLocked_1[3]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename dataLocked_1_2 "dataLocked_1[2]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename dataLocked_1_1 "dataLocked_1[1]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename dataLocked_1_0 "dataLocked_1[0]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance shift_in_RNO (viewRef prim (cellRef NOR2 (libraryRef smartfusion)))          )
          (instance shift_in (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename dataLocked_0 "dataLocked[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename dataLocked_1 "dataLocked[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename dataLocked_2 "dataLocked[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename dataLocked_3 "dataLocked[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename DoutZ0Z_0 "Dout[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename DoutZ0Z_1 "Dout[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename DoutZ0Z_2 "Dout[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename DoutZ0Z_3 "Dout[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename Dout_pad_3 "Dout_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Dout_pad_2 "Dout_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Dout_pad_1 "Dout_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename Dout_pad_0 "Dout_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance reset_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance shiftRegister (viewRef netlist (cellRef ShiftRegister))
          )
          (instance synchronizer (viewRef netlist (cellRef Synchronizer))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename shift_inZ0 "shift_in") (joined
           (portRef Q (instanceRef shift_in))
           (portRef shift_in (instanceRef shiftRegister))
           (portRef B (instanceRef shift_in_RNO))
          ))
          (net (rename dataA_0 "dataA[0]") (joined
           (portRef (member dataa 3) (instanceRef shiftRegister))
           (portRef B (instanceRef dataLocked_0_0))
          ))
          (net (rename dataA_1 "dataA[1]") (joined
           (portRef (member dataa 2) (instanceRef shiftRegister))
           (portRef B (instanceRef dataLocked_0_1))
          ))
          (net (rename dataA_2 "dataA[2]") (joined
           (portRef (member dataa 1) (instanceRef shiftRegister))
           (portRef B (instanceRef dataLocked_0_2))
          ))
          (net (rename dataA_3 "dataA[3]") (joined
           (portRef (member dataa 0) (instanceRef shiftRegister))
           (portRef B (instanceRef dataLocked_0_3))
          ))
          (net sync (joined
           (portRef sync (instanceRef synchronizer))
           (portRef S (instanceRef dataLocked_0_0))
           (portRef S (instanceRef dataLocked_0_1))
           (portRef S (instanceRef dataLocked_0_2))
           (portRef S (instanceRef dataLocked_0_3))
          ))
          (net (rename dataLockedZ0Z_0 "dataLocked[0]") (joined
           (portRef Q (instanceRef dataLocked_0))
           (portRef A (instanceRef Dout_RNO_0))
           (portRef A (instanceRef dataLocked_0_0))
          ))
          (net (rename dataLockedZ0Z_1 "dataLocked[1]") (joined
           (portRef Q (instanceRef dataLocked_1))
           (portRef A (instanceRef Dout_RNO_1))
           (portRef A (instanceRef dataLocked_0_1))
          ))
          (net (rename dataLockedZ0Z_2 "dataLocked[2]") (joined
           (portRef Q (instanceRef dataLocked_2))
           (portRef A (instanceRef Dout_RNO_2))
           (portRef A (instanceRef dataLocked_0_2))
          ))
          (net (rename dataLockedZ0Z_3 "dataLocked[3]") (joined
           (portRef Q (instanceRef dataLocked_3))
           (portRef A (instanceRef Dout_RNO_3))
           (portRef A (instanceRef dataLocked_0_3))
          ))
          (net (rename dataLocked_0Z0Z_0 "dataLocked_0[0]") (joined
           (portRef Y (instanceRef dataLocked_0_0))
           (portRef A (instanceRef dataLocked_1_0))
          ))
          (net (rename dataLocked_0Z0Z_1 "dataLocked_0[1]") (joined
           (portRef Y (instanceRef dataLocked_0_1))
           (portRef A (instanceRef dataLocked_1_1))
          ))
          (net (rename dataLocked_0Z0Z_2 "dataLocked_0[2]") (joined
           (portRef Y (instanceRef dataLocked_0_2))
           (portRef A (instanceRef dataLocked_1_2))
          ))
          (net (rename dataLocked_0Z0Z_3 "dataLocked_0[3]") (joined
           (portRef Y (instanceRef dataLocked_0_3))
           (portRef A (instanceRef dataLocked_1_3))
          ))
          (net (rename dataLocked_1Z0Z_0 "dataLocked_1[0]") (joined
           (portRef Y (instanceRef dataLocked_1_0))
           (portRef D (instanceRef dataLocked_0))
          ))
          (net (rename dataLocked_1Z0Z_1 "dataLocked_1[1]") (joined
           (portRef Y (instanceRef dataLocked_1_1))
           (portRef D (instanceRef dataLocked_1))
          ))
          (net (rename dataLocked_1Z0Z_2 "dataLocked_1[2]") (joined
           (portRef Y (instanceRef dataLocked_1_2))
           (portRef D (instanceRef dataLocked_2))
          ))
          (net (rename dataLocked_1Z0Z_3 "dataLocked_1[3]") (joined
           (portRef Y (instanceRef dataLocked_1_3))
           (portRef D (instanceRef dataLocked_3))
          ))
          (net (rename Dout_RNOZ0Z_0 "Dout_RNO[0]") (joined
           (portRef Y (instanceRef Dout_RNO_0))
           (portRef D (instanceRef DoutZ0Z_0))
          ))
          (net (rename Dout_RNOZ0Z_1 "Dout_RNO[1]") (joined
           (portRef Y (instanceRef Dout_RNO_1))
           (portRef D (instanceRef DoutZ0Z_1))
          ))
          (net (rename Dout_RNOZ0Z_2 "Dout_RNO[2]") (joined
           (portRef Y (instanceRef Dout_RNO_2))
           (portRef D (instanceRef DoutZ0Z_2))
          ))
          (net (rename Dout_RNOZ0Z_3 "Dout_RNO[3]") (joined
           (portRef Y (instanceRef Dout_RNO_3))
           (portRef D (instanceRef DoutZ0Z_3))
          ))
          (net (rename shift_in_RNOZ0 "shift_in_RNO") (joined
           (portRef Y (instanceRef shift_in_RNO))
           (portRef D (instanceRef shift_in))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Aclk_c (joined
           (portRef Y (instanceRef Aclk_pad))
           (portRef Aclk_c (instanceRef synchronizer))
           (portRef Aclk_c (instanceRef shiftRegister))
           (portRef CLK (instanceRef dataLocked_3))
           (portRef CLK (instanceRef dataLocked_2))
           (portRef CLK (instanceRef dataLocked_1))
           (portRef CLK (instanceRef dataLocked_0))
           (portRef CLK (instanceRef shift_in))
          ))
          (net Aclk (joined
           (portRef Aclk)
           (portRef PAD (instanceRef Aclk_pad))
          ))
          (net Bclk_c (joined
           (portRef Y (instanceRef Bclk_pad))
           (portRef Bclk_c (instanceRef synchronizer))
           (portRef CLK (instanceRef DoutZ0Z_3))
           (portRef CLK (instanceRef DoutZ0Z_2))
           (portRef CLK (instanceRef DoutZ0Z_1))
           (portRef CLK (instanceRef DoutZ0Z_0))
          ))
          (net Bclk (joined
           (portRef Bclk)
           (portRef PAD (instanceRef Bclk_pad))
          ))
          (net reset_c (joined
           (portRef Y (instanceRef reset_pad))
           (portRef reset_c (instanceRef synchronizer))
           (portRef A (instanceRef shift_in_RNO))
           (portRef B (instanceRef dataLocked_1_0))
           (portRef B (instanceRef dataLocked_1_1))
           (portRef B (instanceRef dataLocked_1_2))
           (portRef B (instanceRef dataLocked_1_3))
           (portRef B (instanceRef Dout_RNO_0))
           (portRef B (instanceRef Dout_RNO_1))
           (portRef B (instanceRef Dout_RNO_2))
           (portRef B (instanceRef Dout_RNO_3))
          ))
          (net reset (joined
           (portRef reset)
           (portRef PAD (instanceRef reset_pad))
          ))
          (net (rename Dout_c_0 "Dout_c[0]") (joined
           (portRef Q (instanceRef DoutZ0Z_0))
           (portRef D (instanceRef Dout_pad_0))
          ))
          (net (rename Dout_0 "Dout[0]") (joined
           (portRef PAD (instanceRef Dout_pad_0))
           (portRef (member dout 3))
          ))
          (net (rename Dout_c_1 "Dout_c[1]") (joined
           (portRef Q (instanceRef DoutZ0Z_1))
           (portRef D (instanceRef Dout_pad_1))
          ))
          (net (rename Dout_1 "Dout[1]") (joined
           (portRef PAD (instanceRef Dout_pad_1))
           (portRef (member dout 2))
          ))
          (net (rename Dout_c_2 "Dout_c[2]") (joined
           (portRef Q (instanceRef DoutZ0Z_2))
           (portRef D (instanceRef Dout_pad_2))
          ))
          (net (rename Dout_2 "Dout[2]") (joined
           (portRef PAD (instanceRef Dout_pad_2))
           (portRef (member dout 1))
          ))
          (net (rename Dout_c_3 "Dout_c[3]") (joined
           (portRef Q (instanceRef DoutZ0Z_3))
           (portRef D (instanceRef Dout_pad_3))
          ))
          (net (rename Dout_3 "Dout[3]") (joined
           (portRef PAD (instanceRef Dout_pad_3))
           (portRef (member dout 0))
          ))
         )
        (property orig_inst_of (string "SlowFast"))
       )
    )
  )
  (design SlowFast (cellRef SlowFast (libraryRef work)))
)
